<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body id="id-1">
    <h1>Redes Sociais: </h1>
    <p>
        <img src="https://img.freepik.com/vetores-gratis/icone-de-midia-social-do-vetor-instagram-7-de-junho-de-2021-banguecoque-tailandia_53876-136728.jpg?w=2000" width ='28' height ='30'>
        <a href="https://www.instagram.com/jorgel089/" target="_blank">Instagram</a>
       
    </p>
    <p>
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"width ='28' height'300'>
        <a href="https://github.com/JorgeLuis8" target="_blank">GitHub</a>

    </p>
    <p></p>
</body>
</html>