<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        #id-1 {
            color: rgb(12, 226, 180);
        }
        #id-2 {
            color: black;
        }
        .classe-1 {
            color: rgb(77, 93, 189);

        }
    </style>

</head>

<body style="background-color: black;">
    <h1 id="id-1">Bem vindo ao meu portifolio</h1>
    <p class="classe-1">Esse o <b>meu primeiro projeto, para esse projeto estou utilizando django html e css</b>
    esse projeto se trata de um portifolio, onde eu irei colocar meus projetos e
        falar um pouco sobre mim.
    </p>
    <p>
    </p>
</body>

</html>