<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        .classe{
            
        }
    </style>
</head>
<body>
    <h1><b>Sobre mim</b></h1>
    <p class= "classe1">
        Eu me chamo Jorge Luis, atualmente estou cursando sistemas de informaçao na UFPI,
        tenho interresse em desenvolvimento web, front-end mas no momento estou aprendendo django.
    </p>
    
</body>
</html>